.homescreen {
    max-width: 1300px;
    margin:10rem auto 0;
    display: flex;
    justify-content: center;
}
.homescreen_title {
    font-size: 1.5rem;
    color:#171717;
    margin-bottom: 1rem;
    margin-left: 8px;
    text-align: center;
    font-weight: 900;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.homescreen_products {
    display: grid;
    grid-template-columns: repeat(4,1fr);
   column-gap: 15px;
}
.homescreen_actions {
   position: fixed;

  display: flex;
  align-items: center;
  width: 65%;

  min-height: 3em;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 10px;
    border-radius: 16px 10px; 
    
}

.homescreen_actions i:hover {
  cursor:pointer;
}

.rotate {
  transform: rotate(180deg);
}

.homescreen_actions_left {
  display: flex;
  flex-direction: column;
  justify-self: center;
  position:absolute;
  background-color:linen;
  border-radius: 1em;
  opacity: 0.8;
  left:0;
  top:4.5em;
 
}

.homescreen_actions_left div {
  padding: 5px;
  width: 100%;
  
}

.homescreen_actions_left_move {
  display: flex;
  flex-direction: column;
  position:absolute;
  background-color:lightgray;
  border-radius: 1em;
  opacity: 0.8;
  left:0;
  top:4.5em;
  transform: translate(-300%);
}
.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;

}
.search-txt {
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}
.search-box:hover > .search-btn{
    background: white;
}
.search-box a {
    text-decoration: none;
}
.button-66 {
  background-color: #0563af;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.button-66:hover {
  background-color: #065dd8;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-66 {
    padding: 16px 44px;
    min-width: 150px;
  }
}
  .box {
      margin-right: 2em;
  }
 
  .box select {
    background-color: #0563af;
    color: white;
    padding: 16px 20px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    height: 100%;
  }
  
  .box::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
  }

  @media (min-width: 768px) {
    .button-73 {
      font-size: 1.5rem;
      padding: .75rem 2rem;
    }
  }
@media(max-width:1200px){
    .homescreen_products {
        grid-template-columns: repeat(3,1fr);
    }
}
@media(max-width:950px){
    .homescreen_products {
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:950px){
  .homescreen_actions_left {
      display: flex;
      flex-direction: column;
      margin: 0.8em;
  }
}
@media(max-width:950px){
  .homescreen_actions_left > div {
      
      margin-bottom: 0.8em;
  }
}
@media(max-width:600px){
    .homescreen_products {
        grid-template-columns: 1fr;
    }
}